[Unit]
Description=Speedtest VM

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/VBoxManage startvm "Ubuntu/Speed tracking" --type headless
ExecStop=/usr/bin/VBoxManage controlvm "Ubuntu/Speed tracking" poweroff

[Install]
WantedBy=default.target
