[user]
	name = Ellen Marie Dash
	email = me@duckie.co
[core]
	# Uses the default editor. (Defined with $EDITOR.)
	# Uncomment and modify the following line to override it.
	#editor = vim
	excludesfile = ~/.gitignore.global
	autocrlf = input
	#pager = diff-so-fancy | less --tabs=4 -RFX
	pager = less --tabs=4 -RFX
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	tool = vimdiff
[color]
	ui = true
[push]
	# If it complains about the following line on an Ubuntu-based system, try
	# using: https://launchpad.net/~git-core/+archive/ppa
	default = simple
[include]
	path = .gitconfig.private
[github]
	user = duckinator
