[user]
	name = Nik Markwell
	email = nik@duckinator.net
[core]
	editor = vim
	excludesfile = /home/nick/.gitignore.global
	autocrlf = input
[merge]
	tool = vimdiff
[color]
	ui = true
[push]
	default = simple
[include]
	path = .gitconfig.private
[github]
	user = duckinator
